@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>File Archiver</h1>
</div>

@*@using (Html.BeginForm("ArchiveFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}*@